@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    
}


.homepage{
    padding: 20px;
    padding-top: 8vh;
    height: 100vw;
    width: 100%;
    background-color: rgb(50, 53, 81);
    border-radius: 10px;
    max-width: 100%;
    overflow-x: hidden;

}

.pagename{
    font-size: 25px;    
    color: rgb(252, 253, 256);
}

.gridcontainer{
    display: grid;
    padding: 20px;
    padding-top: 8vh;
    height: 100vw;
    width: 100%;
    background-color: rgb(50, 53, 81);
    border-radius: 10px;
    grid-template-rows: 60px min-content min-content;
}

.fixtures{
    display: grid;
    grid-template-rows: 50px min-content;
}

.playercards{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.stats{
    display: grid;
    grid-template-rows: 50px min-content;
}

.secondrow{
    /* background-color: rgb(70,0,0); */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.teamname{
    font-size: 30px;    
    color: rgb(252, 253, 256);
    margin-left: 10px;
}

.playercard{
    background-color: #c0b7dc;
    margin: 5px;
    height: 7vh;
    border-radius: 10px;
    padding-top: 17px;
}

.playercard a{
    font-size: 20px;    
    padding-left: 20px;
    color: rgb(50, 50, 93);
}

.players{
    display: grid;
    grid-template-rows: 50px min-content;
}

.players h3{
    font-size: 23px;    
    color: rgb(252, 253, 256);
    margin-left: 10px;
    margin-top: 10px;
}
.stathead{
    font-size: 23px;    
    color: rgb(252, 253, 256);
    margin-left: 10px;
    margin-top: 10px;
}

.fixtures h3{
    font-size: 23px;    
    color: rgb(252, 253, 256);
    margin-left: 10px;
    margin-top: 10px;
}

.mostwickets{
    margin: 25px;
    border-radius: 10px;
}

.mostwickets h3{
    background-color: #c0b7dc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px 15px;
    font-size: 20px;    
    color: rgb(252, 253, 256);
    text-align: start;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    
    /* column-width: 100%; */
    overflow: hidden;
    table-layout: fixed;
    /* margin-left: auto;
    margin-right: auto; */
    /* column-width: 1px; */
}

table thead tr{
    background-color: #f8f5fb;
    text-align: left;
    font-weight: bold;
}

table th,
table td{
    padding: 7px 12px;
    width: 150px;
    background-color: #f8f5fb;
    overflow: hidden;

}

table tbody tr{
    border-bottom: 1px #263238;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
}
/* 
table tbody tr:nth-of-type(even){
    background-color: #fcfbfd;
}*/



table tbody tr:last-of-type td:first-child{
    
    border-radius: 0 0 0 10px;
} 

table tbody tr:last-of-type td:last-child{
    
    border-radius: 0 0 10px 0; 
} 