@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}


.homepage{
    padding: 20px;
    height: 100vw;
    width: 100%;
    background-color: rgb(50, 53, 81);
    border-radius: 10px;
}

.pagename{
    font-size: 25px;    
    color: rgb(252, 253, 256);
}