*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    
}

.matchpage{
    padding: 20px;
    padding-top: 8vh;
    height: 100vw;
    width: 100%;
    background-color: rgb(50, 53, 81);
    border-radius: 10px;
    max-width: 100%;
    overflow-x: hidden;

}

/* .gridcontainermatch{
    display: grid;
    grid-template-columns: 2fr 1fr;

} */

.firstcol{
    display: grid;
    grid-template-rows: 300px min-content;
}

.curscore{
    background-color: rgb(252, 253, 256);
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.curscore .info, .batter, .baller{
    background-color: #c0b7dc;
}

.commentarycomp{
    background-color: rgb(252, 253, 256);
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.matchpage table thead tr{
    
    background-color: #f8f5fb;
    text-align: left;
    font-weight: bold;
}

.matchpage table thead th{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(252, 253, 256);
}

.matchpage table th,
table td{
    background-color: rgb(252, 253, 256);
    overflow: hidden;

}

.matchpage table tbody tr{
    border-bottom: 1px #263238;
    overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
}
.comphead{
    background-color: #c0b7dc;
}

.scorehead{
    background-color: #c0b7dc;
}

.scoreboardmatch{
        
        margin-top: 20px;
        border-radius: 10px;
        margin-left: 10px;
        overflow: hidden;
}

.scoreboardmatch .nav .active {
    background-color: rgb(252, 253, 256);
}

.squads{
    background-color:  #c0b7dc;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.squads .nav .active {
background-color: rgb(252, 253, 256);
}

.battertable{
    background-color: rgb(252, 253, 256);
}

/* .battertable thead th{
    background-color: #c0b7dc;
}

.ballertable thead th{
    background-color: #c0b7dc;
} */

.battertablescore table tbody tr:last-of-type td:first-child{
    
    border-radius: 0 0 0 0;
} 

.battertablescore table tbody tr:last-of-type td:last-child{
    
    border-radius: 0 0 0 0; 
} 
