.matchcard{
    background-color: rgb(252, 253, 256);
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
}
p{
    color: rgb(50, 50, 93);
    height: min-content;
}

.tournament{
    font-size: 13px;
}


