.matchcard{
    background-color: rgb(252, 253, 256);
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}
p{
    color: rgb(50, 50, 93);
    height: min-content;
}

.tournament{
    font-size: 13px;
}

.cardbox1{
    border-top: 10px;
    padding-left: 10px;
}

